
<div class="container">
    <form class="centered-form">
      <div class="login">
        <h1>Forgot-Password?</h1>
      </div>
  
      <div class="mb">
        <label for="exampleInputEmail">Email address</label>
        <mat-form-field>
          <input
            matInput
            type="email"
            class="form-control"
            [(ngModel)]="email"
            id="exampleInputEmail"
            aria-describedby="email"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Email"
          />
        </mat-form-field>
      </div>
  
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="sendlink()"
        class="btn"
      >
        <mat-icon>link</mat-icon>
        Send-Link
      </button>
  
      <div class="msg">
        <!-- <a [routerLink]="['/login']" style="text-decoration: none;">Click here to Back to..<span class="text-danger">login</span></a> -->
      </div>
    </form>
  </div>
  