<!-- <p>coverpage works!</p> -->

<!-- <form #f="ngForm" (ngSubmit)="onSubmit()" > -->
<nav>
  <div>
    <h4>Quizzes</h4>
  </div>
  <div>
    <!-- <li>My_content</li> -->
    <button mat-raised-button type="btn" (click)="goToMyContent()">
      My_content
    </button>
  </div>
</nav>

<div class="form-container">
  <div class="card-container">
    <form (ngSubmit)="onSubmit1()" #f="ngForm">
      <div class="form-field">
        <label>Quiz Title:</label>
        <input
          type="text"
          name="title"
          placeholder="Type title"
          [(ngModel)]="title"
        />
      </div>

      <div class="form-field">
        <label>Quiz Description:</label>
        <textarea
          id="question-description"
          name="description"
          [(ngModel)]="description"
        ></textarea>
      </div>

      <div class="form-field">
        <label>Creation Date:</label>
        <input type="date" name="date" [(ngModel)]="date" />
      </div>

      <div class="form-field">
        <label for="coverPicture">Cover Image:</label>
        <input
          type="file"
          id="coverPicture"
          (change)="displayImage($event)"
          (change)="upload($event)"
        />

        <div class="image-container">
          <img *ngIf="imageurl" [src]="imageurl" alt="Selected Image" />
        </div>
        <button class="upload-button" (click)="uploadImage()">
          Upload Image
        </button>
      </div>

      <button type="submit" class="save-button">Save</button>

      <!-- Merge the two component -->
      <div class="questionpage">
        <form (ngSubmit)="onSubmit()">
          <div
            *ngFor="let question of questions; let i = index"
            class="question-container"
          >
            <label for="question-description{{ i }}"
              >Question {{ i + 1 }}:</label
            >
            <div class="textarea-wrapper">
              <textarea
                id="question-description{{ i }}"
                name="question-description{{ i }}"
                [(ngModel)]="question.question"
              ></textarea>
            </div>
            <div class="answer-input">
              <input
                type="text"
                id="answer1{{ i }}"
                name="answer1{{ i }}"
                placeholder="Option 1"
                [(ngModel)]="question.options[0]"
              />
              <input
                type="text"
                id="answer2{{ i }}"
                name="answer2{{ i }}"
                placeholder="Option 2"
                [(ngModel)]="question.options[1]"
              />
            </div>

            <div class="input-group">
              <input
                type="text"
                id="answer3{{ i }}"
                name="answer3{{ i }}"
                placeholder="Option 3"
                [(ngModel)]="question.options[2]"
              />
              <input
                type="text"
                id="answer4{{ i }}"
                name="answer4{{ i }}"
                placeholder="Option 4"
                [(ngModel)]="question.options[3]"
              />
            </div>

            <div class="answer-description-group">
              <label for="answerDescription{{ i }}">Answer Description:</label>
              <textarea
                id="answerDescription{{ i }}"
                name="answerDescription{{ i }}"
                [(ngModel)]="question.answerDescription"
              ></textarea>
            </div>
          </div>

          <div class="button-container">
            <button
              type="button"
              class="add-question-button"
              (click)="addQuestion()"
            >
              Add Question
            </button>
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </form>
  </div>
</div>
<!-- <div class="answer-input">
          <input type="text" id="answer1" name="answer1" placeholder="option1" [(ngModel)]="answer1">
          <input type="text" id="answer2" name="answer2" placeholder="option2" [(ngModel)]="answer2">
        </div>
      
        <div class="input-group">
          <input type="text" id="answer3" name="answer3" placeholder="option3" [(ngModel)]="answer3">
          <input type="text" id="answer4" name="answer4" placeholder="option4" [(ngModel)]="answer4">
        </div>
      
        <div class="answer-description-group">
          <label for="answerDescription">Answer Description:</label>
          <textarea id="answerDescription" name="answerDescription" [(ngModel)]="answerDescription"></textarea>
        </div>
        
        <input type="submit" value="Submit">
      </form>
  
    </div> -->
