/* Material ui design */


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .login {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login h1 {
    font-size: 24px;
    color: #333;
  }
  
  .mb,
  .mb2 {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    outline: none;
    border-color: #2684ff;
    box-shadow: 0 0 0 0.2rem rgba(38, 132, 255, 0.25);
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #2684ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #007bff;
  }
  
  .msg {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  .msg a {
    text-decoration: none;
  }
  
  .msg a .text-danger {
    color: #dc3545;
  }
  
  .msg-2 {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
    text-align: center;
  }
  
  .msg-2 a {
    text-decoration: none;
    color: #333;
  }
  
  .car {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
  }
  
  .car img {
    margin-right: 10px;
    cursor: pointer;
  }
  
  